# Core	
DATABASE_URL=	mysql://root:NYMjnxgqwMStJFBmqbnWyYAttCSGgSNs@mysql.railway.internal:3306/railway
JWT_SECRET=	5HGh7tFA6yKvBNVKNdwQhY
CORS_ORIGIN=	https://my-gamebook-ai.vercel.app
NODE_ENV=	production
	
# Text LLM	
TEXT_LLM_API_KEY=	
TEXT_LLM_API_URL=	https://api.openai.com
TEXT_LLM_MODEL=	gpt-4o-mini
TEXT_LLM_MAX_TOKENS=	4096
	
# Image generation	
IMAGE_PROVIDER=	google
GOOGLE_API_KEY=	
GOOGLE_IMAGE_MODEL=	gemini-2.5-flash-image
	
# Storage	
STORAGE_PROVIDER=	r2
R2_ACCOUNT_ID=	bf51a63c9336f6eefcdb809251a9389e
R2_ACCESS_KEY_ID=	d7a74f6cef3f9a80608c294fcf64b286
R2_SECRET_ACCESS_KEY=	3c9f5169576c6d9854111dbb35ee22cabcd34368899d296e4b4c473917b27800
R2_BUCKET_NAME=	mygamebookai-assets
R2_ENDPOINT=	https://bf51a63c9336f6eefcdb809251a9389e.r2.cloudflarestorage.com
R2_PUBLIC_BASE_URL=	https://pub-f259d7492f7d4ef38b7d1749e3ab3307.r2.dev
	
# Payment	
STRIPE_SECRET_KEY	
STRIPE_WEBHOOK_SECRET	
